# __       __                  __                                                _______                      
#|  \     /  \                |  \                                              |       \                     
#| $$\   /  $$  ______    ____| $$  ______   __    __   ______    ______        | $$$$$$$\  ______  __     __ 
#| $$$\ /  $$$ |      \  /      $$ /      \ |  \  |  \ /      \  |      \       | $$  | $$ /      \|  \   /  \
#| $$$$\  $$$$  \$$$$$$\|  $$$$$$$|  $$$$$$\| $$  | $$|  $$$$$$\  \$$$$$$\      | $$  | $$|  $$$$$$\\$$\ /  $$
#| $$\$$ $$ $$ /      $$| $$  | $$| $$   \$$| $$  | $$| $$  | $$ /      $$      | $$  | $$| $$    $$ \$$\  $$ 
#| $$ \$$$| $$|  $$$$$$$| $$__| $$| $$      | $$__/ $$| $$__| $$|  $$$$$$$      | $$__/ $$| $$$$$$$$  \$$ $$  
#| $$  \$ | $$ \$$    $$ \$$    $$| $$       \$$    $$ \$$    $$ \$$    $$      | $$    $$ \$$     \   \$$$   
# \$$      \$$  \$$$$$$$  \$$$$$$$ \$$        \$$$$$$  _\$$$$$$$  \$$$$$$$       \$$$$$$$   \$$$$$$$    \$    001 
#                                                     |  \__| $$                                              
#                                                     \$$$$$$$$$                                              
# 
#                                         <<<<< NÃO VENDO BASE [RSG CORE] >>>>>
#                              <<<< APENAS UMA BASE JÁ PRONTA PARA UTILIZAR COMO QUISER E COM NOSSOS UPGRADES >>>>


endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_forceIndirectListing true  
#sv_listingHostOverride 
set sv_environment development #tag para usar o resmon
sv_endpointprivacy true

sv_maxclients 48
set gamename rdr3
set sv_enforceGameBuild 1491

# https://docs.fivem.net/docs/server-manual/server-commands/#sv_purelevel-level
#sets sv_pureLevel 1 >> Bloqueia arquivos do client 
#sets sv_pureLevel 2 >> Bloqueia arquivos do client total

# locale config
setr rsg_locale "pt-br"
setr ox:locale "pt-br"

## key license settings
sv_licenseKey ""
set steam_webApiKey ""

## database settings
set mysql_connection_string "mysql://root@localhost/mdg_rsg?charset=utf8mb4"
set mysql_slow_query_warning 300

## Sets

set DrawableStore 50000
set InteriorProxy 450

## server settings
set InteriorProxy 450
sv_hostname "NOME DA SUA CIDADE"
sets sv_projectName "^NOME DA SUA CIDADE"
sets sv_projectDesc "DEVELOPING...."
sets locale "pt-BR"
sets tags "SALOON, BANDOS, NATIVOS, SHERIFF"
load_server_icon icon.png

# <<<< SETS PARA APARECER NAS INFORMAÇÕES DO SEU SERVIDOR >>>> #
sets 🚨RR "06:00│12:00│18:00"
sets 📩Discord ""
sets 🔒Whitelist "Closed"
sets 🌎Ano "1820"
sets 💸Economia "Hard"
#sets Loja "🛒 Loja Oficial ➜ https://discord.gg/NYm97kS8eg"
#sets Dev "⚙️ Desenvolvedor ➜ ⚠️ Discord: madruga_001 ⚠️"
#sets Area "💻➜ Developer [FiveM / RedM]"
#sets Serviços "🚀 Serviços ➜ Desenvolvimento Geral"
#sets Fast "🏙️ Cidades Prontas ➜ Entrega Rápida"
#sets Mdg_Store "🧰 ➜ Scripts, Mapas, Props, Peds"
#sets Aulas "📚 Aulas Developer ➜ RedM"
#sets Planos "📆 ➜ Diário | Semanal | Mensal"
#sets Modelos "🧠 Criamos Qualquer Modelo de Script"
#sets Existente "🔧 Adaptamos Modelos Existentes"

#sets banner_detail "https://i.postimg.cc/FssXtRDP/Design-sem-nome-1.png"
#sets banner_connecting "https://i.postimg.cc/FssXtRDP/Design-sem-nome-1.png"


set txAdmin-menuPtfxDisable true # Disable TXAdmin NoClip Particle Effect
set sv_experimentalNetGameEventHandler false

# https://v6.mantine.dev/theming/colors/#default-colors
setr ox:primaryColor red
setr ox:primaryShade 8

# use target
setr UseTarget false

# default resources
ensure mapmanager
ensure spawnmanager
ensure sessionmanager-rdr3

# database and library
ensure oxmysql
ensure ox_lib

# resources
ensure rsg-core
ensure rsg-multicharacter
ensure rsg-spawn
ensure rsg-menubase
ensure ox_target
ensure VLT_chat
ensure [standalone]
ensure [framework]
ensure [mapmods]
######################

#### MENUS/UTILITARIOS ####
ensure [1^Dependencias]
###########################

#### MAPAS/PROPS ####
ensure [2^mdg_mapas]
###########################

#### LOGO/LOADSCREEN ####
ensure [loadscreen]
###########################

#### SCRIPTS ####
ensure [3^Nativos]
ensure [4^Admin]
ensure [5^Scripts]
ensure [6^Sobrenatural]
ensure [7^Peds]
ensure [8^Dev_Ferramentas]
###### [TESTS DIRETO] ######

############################


## weathersync permissions
exec resources/[standalone]/weathersync/permissions.cfg

## Permissions ##
add_ace group.admin command allow # allow all commands
###################### GOD ######################
add_principal identifier.license:0000000 rsgcore.god   # << god rockstar licence
add_principal identifier.fivem:0000000 rsgcore.god   # << god rockstar licence
add_principal identifier.discord:0000000 group.admin # << Discord
add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx rsgcore.admin # << god rockstar licence
add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx group.admin   # << god rockstar licence
###################### ADMIN ####################
add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx rsgcore.admin # << admins rockstar licence
add_principal identifier.license:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx group.admin   # << admins rockstar licence
#################################################

# Resources
add_ace resource.rsg-core command allow # Allow rsg-core to execute commands
add_ace group.admin spooner allow

# Gods
add_ace rsgcore.god command allow # Allow all commands

# Inheritance
add_principal rsgcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal rsgcore.god rsgcore.admin # Allow gods access to admin commands
add_principal rsgcore.admin rsgcore.mod # Allow admins access to mod commands
# ox_lib
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow
